Repository diaryx-org/diaryx-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, cargo-fmt, cargo-clippy, svelte-check

.pre-commit-config.yaml:

repos:
  # Built-in hooks (fast, native implementations)
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Local project hooks
  - repo: local
    hooks:
      # Sync version from README.md to all project files
      - id: sync-versions
        name: Sync versions
        entry: ./scripts/sync-versions.sh
        language: system
        files: ^README\.md$
        pass_filenames: false

      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      # Rust linting
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy -p diaryx_core -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Svelte type checking
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd apps/web && bun run check'
        language: system
        files: ^apps/web/.*\.(svelte|ts)$
        pass_filenames: false

add(ci) uses nix flake, fix windows test error, remove build WASM step (integrated)
  .github/workflows/ci.yml
  crates/diaryx/src/cli/sync/client.rs
Due: cargo-fmt, cargo-clippy

fix(ci) use bunx for vite
  .github/workflows/ci.yml
Due: none

add(agents) diaryx cli skill
  .claude/skills/diaryx-cli/SKILL.md
Due: none

add: prepare CLI and core for making whole repo documentable by Diaryx. Update agent index script too
  AGENTS.md
  CONTRIBUTING.md
  README.md
  crates/diaryx/src/cli/args.rs
  crates/diaryx/src/cli/workspace.rs
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/fs/async_fs.rs
  crates/diaryx_core/src/fs/mod.rs
  crates/diaryx_core/src/fs/native.rs
  crates/diaryx_core/src/utils/mod.rs
  crates/diaryx_core/src/validate.rs
  crates/diaryx_core/src/workspace/mod.rs
  crates/diaryx_core/src/workspace/types.rs
  scripts/update-agents-index.sh
Due: sync-versions, cargo-fmt, cargo-clippy

fix: add agent rules for Antigravity; fix failing CRDT test in diaryx_core
  .agent/rules/diaryx-cli.md
  .agent/rules/general-rules.md
  crates/diaryx_core/src/fs/crdt_fs.rs
Due: cargo-fmt, cargo-clippy

fix(web) open folders deeper than 2 work now
  apps/web/src/App.svelte
  apps/web/src/LICENSE.md
  apps/web/src/controllers/entryController.ts
  apps/web/src/controllers/workspaceController.ts
  apps/web/src/lib/backend/api.ts
  apps/web/src/lib/backend/generated/CreateChildResult.ts
  apps/web/src/lib/backend/generated/Response.ts
  apps/web/src/lib/backend/generated/index.ts
  apps/web/src/lib/backend/index.ts
  apps/web/src/models/stores/workspaceStore.svelte.ts
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/CreateChildResult.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy, svelte-check

add(cli) `diaryx nav` command for TUI navigation
  AGENTS.md
  Cargo.lock
  crates/diaryx/Cargo.toml
  crates/diaryx/README.md
  crates/diaryx/src/cli/README.md
  crates/diaryx/src/cli/args.rs
  crates/diaryx/src/cli/mod.rs
  crates/diaryx/src/cli/nav/README.md
  crates/diaryx/src/cli/nav/app.rs
  crates/diaryx/src/cli/nav/keys.rs
  crates/diaryx/src/cli/nav/mod.rs
  crates/diaryx/src/cli/nav/state.rs
  crates/diaryx/src/cli/nav/tree.rs
  crates/diaryx/src/cli/nav/ui.rs
Due: cargo-fmt, cargo-clippy

fix: content overwrite on sync bug
  apps/web/e2e/sync-v2.spec.ts
  apps/web/src/lib/crdt/unifiedSyncTransport.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/models/stores/collaborationStore.svelte.ts
Due: svelte-check

add: commands in TUI
  crates/diaryx/src/cli/nav/app.rs
  crates/diaryx/src/cli/nav/commands.rs
  crates/diaryx/src/cli/nav/keys.rs
  crates/diaryx/src/cli/nav/mod.rs
  crates/diaryx/src/cli/nav/state.rs
  crates/diaryx/src/cli/nav/ui.rs
Due: cargo-fmt, cargo-clippy

add: export to different formats. Sync fixes. Pandoc integration
  apps/tauri/src-tauri/Cargo.toml
  apps/tauri/src-tauri/src/commands.rs
  apps/tauri/src-tauri/src/lib.rs
  apps/web/package.json
  apps/web/src/App.svelte
  apps/web/src/lib/ExportDialog.svelte
  apps/web/src/lib/LeftSidebar.svelte
  apps/web/src/lib/backend/api.test.ts
  apps/web/src/lib/backend/generated/Command.ts
  apps/web/src/lib/backend/generated/FileSystemEvent.ts
  apps/web/src/lib/backend/generated/Response.ts
  apps/web/src/lib/backend/generated/TreeNode.ts
  apps/web/src/lib/backend/generated/ValidationWarning.ts
  apps/web/src/lib/backend/generated/ValidationWarningWithMeta.ts
  apps/web/src/lib/crdt/rustCrdtApi.ts
  apps/web/src/lib/crdt/unifiedSyncTransport.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/lib/export/index.ts
  apps/web/src/lib/export/pandocService.ts
  apps/web/src/lib/export/pandocWorker.ts
  apps/web/vite.config.ts
  crates/diaryx/Cargo.toml
  crates/diaryx/src/cli/args.rs
  crates/diaryx/src/cli/export.rs
  crates/diaryx/src/cli/mod.rs
  crates/diaryx/src/cli/publish.rs
  crates/diaryx_core/Cargo.toml
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/diaryx.rs
  crates/diaryx_core/src/lib.rs
  crates/diaryx_core/src/pandoc.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: live sync now receives body content
  Cargo.lock
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/diaryx_sync_server/Cargo.toml
  crates/diaryx_sync_server/src/sync_v2/hooks.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: root index file deleted on guest joining live sync
  apps/web/src/App.svelte
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/lib/share/ShareTab.svelte
  apps/web/src/models/services/shareService.ts
Due: svelte-check

fix: depend on custom siphonophore fork on Github
  Cargo.lock
  crates/diaryx_sync_server/Cargo.toml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none
