Repository diaryx-org/diaryx-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, cargo-fmt, cargo-clippy, svelte-check

.pre-commit-config.yaml:

repos:
  # Built-in hooks (fast, native implementations)
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Local project hooks
  - repo: local
    hooks:
      # Sync version from README.md to all project files
      - id: sync-versions
        name: Sync versions
        entry: ./scripts/sync-versions.sh
        language: system
        files: ^README\.md$
        pass_filenames: false

      # Rust formatting
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      # Rust linting
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy -p diaryx_core -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      # Svelte type checking
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd apps/web && bun run check'
        language: system
        files: ^apps/web/.*\.(svelte|ts)$
        pass_filenames: false

Consolidate web stuff to apps/web. Use `cargo tauri` in apps/tauri
  .github/workflows/ci.yml
  .github/workflows/tauri-release.yml
  apps/tauri/bun.lock
  apps/tauri/package.json
  apps/tauri/src-tauri/tauri.conf.json
  apps/tauri/src/lib/sync.ts
  apps/tauri/vite.config.ts
  apps/web/package.json
  apps/web/vite.config.ts
Due: svelte-check

fix: stub WASM for Tauri builds
  .github/workflows/ci.yml
  .github/workflows/tauri-release.yml
  apps/tauri/src-tauri/tauri.conf.json
  apps/web/src/lib/wasm-stub.js
Due: none

fix: shared workspace bug
  apps/web/src/App.svelte
Due: svelte-check

fix: add dependency to sync-server
  packages/sync-server/bun.lock
  packages/sync-server/package.json
Due: none

add(live-sync) Editor supports read-only mode
  apps/web/src/App.svelte
  apps/web/src/views/editor/EditorContent.svelte
  apps/web/src/views/editor/EditorHeader.svelte
Due: svelte-check

add: More commands to command palette!
  apps/web/src/App.svelte
  apps/web/src/lib/CommandPalette.svelte
  apps/web/src/lib/LeftSidebar.svelte
  apps/web/src/lib/RightSidebar.svelte
  apps/web/src/lib/share/ShareTab.svelte
  apps/web/src/models/stores/workspaceStore.svelte.ts
  crates/diaryx_core/src/validate.rs
  roadmap.md
Due: cargo-fmt, cargo-clippy, svelte-check

feat(web): add swipe gestures to open sidebars on mobile
  apps/web/src/App.svelte
Due: svelte-check

Add more commands; fix daily entry bug
  apps/web/src/App.svelte
  apps/web/src/lib/SettingsDialog.svelte
  apps/web/src/lib/components/TemplateEditorDialog.svelte
  apps/web/src/lib/settings/TemplateSettings.svelte
  crates/diaryx_core/src/command_handler.rs
Due: cargo-fmt, cargo-clippy, svelte-check

feat: diaryx_sync_server (actual device sync) ALPHA
  AGENTS.md
  Cargo.lock
  Cargo.toml
  apps/web/e2e/attachments.spec.ts
  apps/web/e2e/editor.spec.ts
  apps/web/e2e/fixtures.ts
  apps/web/e2e/share.spec.ts
  apps/web/e2e/workspace.spec.ts
  apps/web/playwright.config.ts
  apps/web/src/lib/SettingsDialog.svelte
  apps/web/src/lib/auth/authService.ts
  apps/web/src/lib/auth/authStore.svelte.ts
  apps/web/src/lib/auth/index.ts
  apps/web/src/lib/crdt/collaborationBridge.ts
  apps/web/src/lib/crdt/simpleSyncBridge.ts
  apps/web/src/lib/settings/SyncSettings.svelte
  crates/diaryx_sync_server/Cargo.toml
  crates/diaryx_sync_server/README.md
  crates/diaryx_sync_server/src/auth/magic_link.rs
  crates/diaryx_sync_server/src/auth/middleware.rs
  crates/diaryx_sync_server/src/auth/mod.rs
  crates/diaryx_sync_server/src/config.rs
  crates/diaryx_sync_server/src/db/mod.rs
  crates/diaryx_sync_server/src/db/repo.rs
  crates/diaryx_sync_server/src/db/schema.rs
  crates/diaryx_sync_server/src/email/mod.rs
  crates/diaryx_sync_server/src/handlers/api.rs
  crates/diaryx_sync_server/src/handlers/auth.rs
  crates/diaryx_sync_server/src/handlers/mod.rs
  crates/diaryx_sync_server/src/handlers/ws.rs
  crates/diaryx_sync_server/src/lib.rs
  crates/diaryx_sync_server/src/main.rs
  crates/diaryx_sync_server/src/sync/connection.rs
  crates/diaryx_sync_server/src/sync/mod.rs
  crates/diaryx_sync_server/src/sync/room.rs
Due: cargo-fmt, cargo-clippy, svelte-check

Live sync works again
  .gitignore
  apps/web/src/App.svelte
  apps/web/src/lib/auth/authStore.svelte.ts
  apps/web/src/lib/crdt/simpleSyncBridge.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/models/services/shareService.ts
  crates/README.md
  crates/diaryx_sync_server/README.md
  crates/diaryx_sync_server/src/db/mod.rs
  crates/diaryx_sync_server/src/db/repo.rs
  crates/diaryx_sync_server/src/db/schema.rs
  crates/diaryx_sync_server/src/handlers/mod.rs
  crates/diaryx_sync_server/src/handlers/sessions.rs
  crates/diaryx_sync_server/src/handlers/ws.rs
  crates/diaryx_sync_server/src/main.rs
  crates/diaryx_sync_server/src/sync/mod.rs
  crates/diaryx_sync_server/src/sync/room.rs
Due: cargo-fmt, cargo-clippy, svelte-check

More Rust/sync backend work. New Rust commands. Deleted old server. Sync still not working
  .gitignore
  AGENTS.md
  README.md
  apps/web/package.json
  apps/web/src/App.svelte
  apps/web/src/lib/SyncStatusIndicator.svelte
  apps/web/src/lib/backend/api.ts
  apps/web/src/lib/backend/generated/Command.ts
  apps/web/src/lib/crdt/bodySyncBridge.ts
  apps/web/src/lib/crdt/p2pFileTransfer.ts
  apps/web/src/lib/crdt/p2pSyncBridge.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.test.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/lib/settings/SyncConflictDialog.svelte
  apps/web/src/lib/settings/SyncSettings.svelte
  apps/web/src/models/services/workspaceCrdtService.ts
  apps/web/src/views/editor/EditorHeader.svelte
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_sync_server/README.md
  crates/diaryx_sync_server/src/config.rs
  crates/diaryx_sync_server/src/handlers/ws.rs
  crates/diaryx_sync_server/src/sync/room.rs
  packages/sync-server/README.md
  packages/sync-server/bun.lock
  packages/sync-server/package.json
  packages/sync-server/src/simple-server.ts
  packages/sync-server/tsconfig.json
Due: sync-versions, cargo-fmt, cargo-clippy, svelte-check

Pure WASM sync finally works kind of!
  apps/web/src/App.svelte
  apps/web/src/controllers/entryController.ts
  apps/web/src/lib/backend/interface.ts
  apps/web/src/lib/backend/wasmWorkerNew.ts
  apps/web/src/lib/backend/workerBackendNew.ts
  apps/web/src/lib/crdt/bodySyncBridge.ts
  apps/web/src/lib/crdt/rustSyncBridge.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/FileSystemEvent.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/body_doc.rs
  crates/diaryx_core/src/crdt/body_doc_manager.rs
  crates/diaryx_core/src/crdt/workspace_doc.rs
  crates/diaryx_core/src/diaryx.rs
  crates/diaryx_core/src/fs/async_fs.rs
  crates/diaryx_core/src/fs/callback_registry.rs
  crates/diaryx_core/src/fs/crdt_fs.rs
  crates/diaryx_core/src/fs/decorator_stack.rs
  crates/diaryx_core/src/fs/event_fs.rs
  crates/diaryx_core/src/fs/events.rs
  crates/diaryx_core/src/fs/mod.rs
  crates/diaryx_core/src/fs/native.rs
  crates/diaryx_wasm/src/backend.rs
Due: cargo-fmt, cargo-clippy, svelte-check

chore: bump to 0.11.0
  Cargo.toml
  README.md
  apps/tauri/src-tauri/tauri.conf.json
  apps/web/package.json
Due: sync-versions

Update Apple SDK framework references in flake.nix
  flake.nix
Due: none

Update framework references for Apple SDK in flake.nix
  flake.nix
Due: none

Refactor buildInputs and nativeBuildInputs in flake.nix
  flake.nix
Due: none

Fix apple-sdk framework inclusion in flake.nix
  flake.nix
Due: none

Update README.md
  README.md
Due: sync-versions

Setting up flake dev environment
  .envrc
  .gitignore
  flake.lock
  flake.nix
  scripts/sync-versions.sh
Due: none

Works, hopefully
  flake.nix
  result
Due: none

fixing sync bugs, add buttons to delete sync storage and local storage
  apps/web/src/App.svelte
  apps/web/src/lib/SettingsDialog.svelte
  apps/web/src/lib/SyncSetupWizard.svelte
  apps/web/src/lib/auth/authService.ts
  apps/web/src/lib/auth/authStore.svelte.ts
  apps/web/src/lib/crdt/bodySyncBridge.ts
  apps/web/src/lib/crdt/rustSyncBridge.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/lib/settings/AccountSettings.svelte
  apps/web/src/lib/settings/ClearDataSettings.svelte
  apps/web/src/lib/settings/SyncSettings.svelte
  apps/web/src/models/services/shareService.ts
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/body_doc.rs
  crates/diaryx_core/src/crdt/memory_storage.rs
  crates/diaryx_core/src/crdt/workspace_doc.rs
  crates/diaryx_sync_server/src/db/repo.rs
  crates/diaryx_sync_server/src/handlers/auth.rs
  crates/diaryx_sync_server/src/handlers/ws.rs
  crates/diaryx_sync_server/src/main.rs
  crates/diaryx_sync_server/src/sync/room.rs
  flake.nix
Due: cargo-fmt, cargo-clippy, svelte-check

add: add sync manager to Rust; ready for migration
  apps/web/src/App.svelte
  apps/web/src/controllers/entryController.ts
  apps/web/src/lib/backend/interface.ts
  apps/web/src/lib/crdt/syncHelpers.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/lib/storage/index.ts
  apps/web/src/lib/storage/sqliteStorage.ts
  apps/web/src/lib/storage/sqliteStorageBridge.js
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/FileSystemEvent.ts
  crates/diaryx_core/bindings/bindings/GuestConfig.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/body_doc.rs
  crates/diaryx_core/src/crdt/body_doc_manager.rs
  crates/diaryx_core/src/crdt/memory_storage.rs
  crates/diaryx_core/src/crdt/mod.rs
  crates/diaryx_core/src/crdt/sqlite_storage.rs
  crates/diaryx_core/src/crdt/storage.rs
  crates/diaryx_core/src/crdt/sync_handler.rs
  crates/diaryx_core/src/diaryx.rs
  crates/diaryx_core/src/fs/events.rs
  crates/diaryx_wasm/src/wasm_sqlite_storage.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: duplication glitch
  apps/web/src/App.svelte
  apps/web/src/lib/backend/generated/Command.ts
  apps/web/src/lib/backend/generated/FileSystemEvent.ts
  apps/web/src/lib/backend/generated/GuestConfig.ts
  apps/web/src/lib/backend/generated/index.ts
  apps/web/src/lib/crdt/bodySyncBridge.ts
  apps/web/src/lib/crdt/index.ts
  apps/web/src/lib/crdt/rustCrdtApi.ts
  apps/web/src/lib/crdt/rustSyncBridge.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/models/services/shareService.ts
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/sync.rs
  crates/diaryx_core/src/crdt/sync_handler.rs
  crates/diaryx_core/src/crdt/workspace_doc.rs
  crates/diaryx_core/src/diaryx.rs
  result
Due: cargo-fmt, cargo-clippy, svelte-check

More sync debugging
  apps/web/src/App.svelte
  apps/web/src/controllers/entryController.ts
  apps/web/src/lib/backend/interface.ts
  apps/web/src/lib/crdt/bodySyncBridge.ts
  apps/web/src/lib/crdt/fileHash.ts
  apps/web/src/lib/crdt/hocuspocusBridge.ts
  apps/web/src/lib/crdt/index.ts
  apps/web/src/lib/crdt/rustSyncBridge.ts
  apps/web/src/lib/crdt/simpleSyncBridge.ts
  apps/web/src/lib/crdt/syncHelpers.ts
  apps/web/src/lib/crdt/syncTransport.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/FileSystemEvent.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/mod.rs
  crates/diaryx_core/src/crdt/sync_handler.rs
  crates/diaryx_core/src/crdt/sync_manager.rs
  crates/diaryx_core/src/crdt/workspace_doc.rs
  crates/diaryx_core/src/diaryx.rs
  crates/diaryx_core/src/fs/async_fs.rs
  crates/diaryx_core/src/fs/crdt_fs.rs
  crates/diaryx_core/src/fs/events.rs
  crates/diaryx_core/src/metadata_writer.rs
  crates/diaryx_wasm/src/backend.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: body duplication bug
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/body_doc_manager.rs
Due: cargo-fmt, cargo-clippy

fix: Sync debugging (working on rename); update descriptions for docs
  AGENTS.md
  README.md
  apps/README.md
  apps/tauri/README.md
  apps/web/README.md
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/README.md
  crates/diaryx/README.md
  crates/diaryx_core/README.md
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/sync.rs
  crates/diaryx_core/src/crdt/sync_handler.rs
  crates/diaryx_core/src/crdt/sync_manager.rs
  crates/diaryx_core/src/crdt/workspace_doc.rs
  crates/diaryx_core/src/diaryx.rs
  crates/diaryx_sync_server/README.md
  crates/diaryx_wasm/README.md
Due: sync-versions, cargo-fmt, cargo-clippy, svelte-check

fix: stabilizing sync functionality
  Cargo.lock
  apps/web/src/lib/backend/generated/FileMetadata.ts
  apps/web/src/lib/crdt/rustCrdtApi.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  apps/web/src/models/services/workspaceCrdtService.ts
  crates/diaryx_core/Cargo.toml
  crates/diaryx_core/README.md
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/FileMetadata.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/crdt/body_doc.rs
  crates/diaryx_core/src/crdt/body_doc_manager.rs
  crates/diaryx_core/src/crdt/sync_handler.rs
  crates/diaryx_core/src/crdt/types.rs
  crates/diaryx_core/src/crdt/workspace_doc.rs
  crates/diaryx_core/src/fs/crdt_fs.rs
  crates/diaryx_wasm/src/backend.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: Sync wizard doesn't ignore loading
  apps/web/src/lib/SyncSetupWizard.svelte
Due: svelte-check

add: support for changing link types in CLI and web app
  apps/web/src/lib/SettingsDialog.svelte
  apps/web/src/lib/backend/api.ts
  apps/web/src/lib/backend/generated/Command.ts
  apps/web/src/lib/backend/generated/ConvertLinksResult.ts
  apps/web/src/lib/backend/generated/LinkFormat.ts
  apps/web/src/lib/backend/generated/Response.ts
  apps/web/src/lib/backend/generated/WorkspaceConfig.ts
  apps/web/src/lib/backend/generated/index.ts
  apps/web/src/lib/components/ui/select/index.ts
  apps/web/src/lib/components/ui/select/select-content.svelte
  apps/web/src/lib/components/ui/select/select-group-heading.svelte
  apps/web/src/lib/components/ui/select/select-group.svelte
  apps/web/src/lib/components/ui/select/select-item.svelte
  apps/web/src/lib/components/ui/select/select-label.svelte
  apps/web/src/lib/components/ui/select/select-portal.svelte
  apps/web/src/lib/components/ui/select/select-scroll-down-button.svelte
  apps/web/src/lib/components/ui/select/select-scroll-up-button.svelte
  apps/web/src/lib/components/ui/select/select-separator.svelte
  apps/web/src/lib/components/ui/select/select-trigger.svelte
  apps/web/src/lib/components/ui/select/select.svelte
  apps/web/src/lib/components/ui/separator/separator.svelte
  apps/web/src/lib/crdt/syncHelpers.ts
  apps/web/src/lib/crdt/types.ts
  apps/web/src/lib/settings/LinkSettings.svelte
  apps/web/src/lib/stores/linkFormatStore.svelte.ts
  crates/diaryx/src/cli/args.rs
  crates/diaryx/src/cli/config.rs
  crates/diaryx/src/cli/mod.rs
  crates/diaryx/src/cli/workspace.rs
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/ConvertLinksResult.ts
  crates/diaryx_core/bindings/bindings/LinkFormat.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/bindings/bindings/WorkspaceConfig.ts
  crates/diaryx_core/src/command.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/link_parser.rs
  crates/diaryx_core/src/workspace/mod.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: various link fixes
  apps/web/src/lib/backend/workerBackendNew.ts
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_core/src/export.rs
  crates/diaryx_core/src/link_parser.rs
  crates/diaryx_core/src/validate.rs
  crates/diaryx_core/src/workspace/mod.rs
  crates/diaryx_core/src/workspace/types.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: sync race condition
  apps/web/src/lib/crdt/syncTransport.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/diaryx_core/src/metadata_writer.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: metadata nesting bug (contents corruption)
  crates/diaryx_core/src/metadata_writer.rs
Due: cargo-fmt, cargo-clippy

add: sync support for CLI
  Cargo.lock
  crates/diaryx/Cargo.toml
  crates/diaryx/src/cli/sync/auth.rs
  crates/diaryx/src/cli/sync/client.rs
  crates/diaryx/src/cli/sync/mod.rs
  crates/diaryx/src/cli/sync/progress.rs
  crates/diaryx_sync_server/src/handlers/ws.rs
  crates/diaryx_sync_server/src/sync/room.rs
Due: cargo-fmt, cargo-clippy

fix: Metadata sync works! Now for body sync...
  Cargo.lock
  apps/tauri/src-tauri/src/commands.rs
  apps/tauri/src-tauri/src/websocket_sync.rs
  apps/web/src/lib/SyncSetupWizard.svelte
  apps/web/src/lib/crdt/syncTransport.test.ts
  apps/web/src/lib/crdt/syncTransport.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/diaryx/Cargo.toml
  crates/diaryx/src/cli/sync/auth.rs
  crates/diaryx/src/cli/sync/client.rs
  crates/diaryx/src/cli/sync/status.rs
  crates/diaryx_core/src/command_handler.rs
  crates/diaryx_sync_server/src/sync/room.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: stabilizng cached Diaryx in Tauri, working on sync
  apps/tauri/src-tauri/src/commands.rs
  apps/tauri/src-tauri/src/websocket_sync.rs
  apps/web/src/lib/crdt/multiplexedBodySync.ts
  apps/web/src/lib/crdt/workspaceCrdtBridge.ts
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/src/crdt/sync_manager.rs
  crates/diaryx_core/src/diaryx.rs
Due: cargo-fmt, cargo-clippy, svelte-check

fix: use error codes in CLI; update docs for consistency
  CONTRIBUTING.md
  LICENSE.md
  README.md
  crates/README.md
  crates/diaryx/README.md
  crates/diaryx/src/cli/config.rs
  crates/diaryx/src/cli/entry.rs
  crates/diaryx/src/cli/mod.rs
  crates/diaryx/src/cli/property.rs
  crates/diaryx/src/cli/sort.rs
  crates/diaryx/src/cli/template.rs
  crates/diaryx/src/cli/workspace.rs
  crates/diaryx_core/README.md
  crates/diaryx_wasm/README.md
  roadmap.md
  scripts/scripts.md
Due: sync-versions, cargo-fmt, cargo-clippy

add(docs) build scripts, documentation on crdt + cloud storage, rename "sync" module to "cloud"
  apps/tauri/src-tauri/src/cloud/google_drive.rs
  apps/tauri/src-tauri/src/cloud/s3.rs
  apps/tauri/src-tauri/src/commands.rs
  crates/diaryx/Cargo.toml
  crates/diaryx/README.md
  crates/diaryx/build.rs
  crates/diaryx/src/main.rs
  crates/diaryx_core/README.md
  crates/diaryx_core/bindings/bindings/Command.ts
  crates/diaryx_core/bindings/bindings/Response.ts
  crates/diaryx_core/build.rs
  crates/diaryx_core/src/cloud/README.md
  crates/diaryx_core/src/cloud/change.rs
  crates/diaryx_core/src/cloud/conflict.rs
  crates/diaryx_core/src/cloud/engine.rs
  crates/diaryx_core/src/cloud/manifest.rs
  crates/diaryx_core/src/cloud/mod.rs
  crates/diaryx_core/src/config.rs
  crates/diaryx_core/src/crdt/README.md
  crates/diaryx_core/src/crdt/mod.rs
  crates/diaryx_core/src/entry/mod.rs
  crates/diaryx_core/src/error.rs
  crates/diaryx_core/src/fs/mod.rs
  crates/diaryx_core/src/lib.rs
  crates/diaryx_core/src/utils/date.rs
  crates/diaryx_sync_server/Cargo.toml
  crates/diaryx_sync_server/build.rs
  crates/diaryx_sync_server/src/lib.rs
  crates/diaryx_wasm/Cargo.toml
  crates/diaryx_wasm/build.rs
  crates/diaryx_wasm/src/lib.rs
  flake.lock
  flake.nix
Due: cargo-fmt, cargo-clippy

add(cli) better support for different link types; updated to MarkdownRoot links in repo docs
  AGENTS.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  apps/README.md
  apps/tauri/README.md
  apps/web/README.md
  apps/web/docs/tiptap-custom-extensions.md
  crates/README.md
  crates/diaryx/README.md
  crates/diaryx/src/cli/util.rs
  crates/diaryx/src/cli/workspace.rs
  crates/diaryx_core/README.md
  crates/diaryx_core/src/cloud/README.md
  crates/diaryx_core/src/crdt/README.md
  crates/diaryx_core/src/validate.rs
  crates/diaryx_core/src/workspace/types.rs
  crates/diaryx_sync_server/README.md
  crates/diaryx_wasm/README.md
  roadmap.md
  scripts/scripts.md
Due: sync-versions, cargo-fmt, cargo-clippy
